name: C/C++ CI

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: configure
      run: sudo apt update && sudo apt install libelf-dev
    - name: make
      run: make allyesconfig
    - name: make check
      run: time make all
    - name: make distcheck
      run: make clean
